/* Reset básico */
body {
    font-family: Arial, sans-serif;
    background-color: #e7dcc3; /* Bege claro */
    margin: 0;
    padding: 0;
}

/* Centralizar a área principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Estilização do logo */
.logo h1 {
    font-size: 2.5em;
    color: #594a3c; /* Marrom escuro */
    margin-bottom: 5px;
}

.logo p {
    font-size: 1.2em;
    color: #8d6e63; /* Marrom mais claro */
    margin: 0;
}

/* Estilo do formulário */
.form-cadastro {
    background-color: #ffffff; /* Branco */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px; /* Responsivo */
    text-align: left;
}

.form-cadastro h2 {
    color: #594a3c; /* Marrom escuro */
    text-align: center;
    margin-bottom: 20px;
}

.form-cadastro label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #594a3c; /* Marrom */
}

.form-cadastro input,
.form-cadastro select,
.form-cadastro button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    box-sizing: border-box;
}

/* Botão de cadastro */
.form-cadastro button {
    background-color: #594a3c; /* Marrom escuro */
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.form-cadastro button:hover {
    background-color: #8d6e63; /* Marrom mais claro */
}